[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xgboost = "*"
sklearn = "*"
pandas = "*"
numpy = "*"
tensorflow = "*"
keras = "*"
nltk = "*"
seaborn = "*"
gdown = "*"
zeugma = "*"
cleanlab = "*"
scikeras = "*"
catboost = "*"
fasttext = "*"
tqdm = "*"

[dev-packages]
ipykernel = "*"
torch-tb-profiler = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
